<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ assembly name="$(TargetDir)/Tool.T4Templent.dll" #>
<#@ import namespace="Tool.T4Templent.StaticPlates.CoreCode"#>
    using System;
    using System.Collections.Generic;
    using System.Data.Entity.Design;
    using System.Data.Mapping;
    using System.Data.Metadata.Edm;
    using System.IO;
    using System.Reflection;
    using System.Xml;
    using System.Xml.Linq;
 <#   var staticTemplate=new StaticTemplate(this.Host);#>