@using Plain.Web

@{
    ViewBag.Title = "title";
    Layout = Url.Content("~/Views/Shared/_Layout.cshtml"); ;
}

<div class="wrap content">
    <div class="lfluent">
        <div class="item">
            <img src="http://s.cn.bing.net/az/hprichbg/rb/BilberryLynx_ZH-CN9292650644_800x600.jpg" width="390" height="330" />
        </div>
    </div>
    <div class="mfluent">
        <div class="hotList">
            <h1>
                热点文章

            </h1>
            <div class="hotTitle">
                <dl class="clear">
                    <dt><a href="#">支付宝改版的原因</a></dt>

                    <dd><a href="#">这个方面可以咨询这里....</a></dd>
                </dl>
                <dl class="clear">
                    <dt><a href="#">支付宝改版的原因支付宝改版的原因</a></dt>

                    <dd><a href="#">这个方面可以咨询这里....</a></dd>
                </dl>
            </div>
        </div>
        <div class="titleList">
            <ul>
                <li>
                    <a>微信又双叒叕出故障了 是在内测直播？商业绑架？</a>
                </li>
                <li>
                    <a>微信又双叒叕出故障了 是在内测直播？商业绑架？</a>
                </li>
                <li>
                    <a>微信又双叒叕出故障了 是在内测直播？商业绑架？</a>
                </li>
                <li>
                    <a>微信又双叒叕出故障了 是在内测直播？商业绑架？</a>
                </li>

            </ul>
        </div>
    </div>

    <div class="rfluent f_right">
        <div class="module">
            <div class="m_title">
                <h1 href="javascript:void(0)" class="f_left">专题推荐</h1>
                <a href="javascript:void(0)" class="f_right ">更多&nbsp;></a>
            </div>
            <div class="m_box">
                <ul>
                    <li class="box_item f_left">
                        <a href="javascript:void(0)">
                            <img src="http://s.cn.bing.net/az/hprichbg/rb/BilberryLynx_ZH-CN9292650644_800x600.jpg" width="135" height="95" />
                            <div>测试栏目</div>
                        </a>
                    </li>
                    <li class="box_item f_left">
                        <a href="javascript:void(0)">
                            <img src="http://s.cn.bing.net/az/hprichbg/rb/BilberryLynx_ZH-CN9292650644_800x600.jpg" width="135" height="95" />
                            <div>测试栏目</div>
                        </a>
                    </li>
                    <li class="box_item f_left">
                        <a href="javascript:void(0)">
                            <img src="http://s.cn.bing.net/az/hprichbg/rb/BilberryLynx_ZH-CN9292650644_800x600.jpg" width="135" height="95" />
                            <div>测试栏目</div>
                        </a>
                    </li>
                    <li class="box_item f_left">
                        <a href="javascript:void(0)">
                            <img src="http://s.cn.bing.net/az/hprichbg/rb/BilberryLynx_ZH-CN9292650644_800x600.jpg" width="135" height="95" />
                            <div>测试栏目</div>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
<div class="clear"></div>