<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ assembly name="System.Core.dll" #>
<#@ assembly name="EnvDTE" #>
<#@ import namespace="System" #>
<#@ output extension=".txt" #>
<#
    IServiceProvider serviceProvider = (IServiceProvider)this.Host;
    EnvDTE.DTE dte = (EnvDTE.DTE) serviceProvider.GetService(typeof(EnvDTE.DTE));
#>

 解决方案名称：<#= dte.Solution.FileName.ToString()#> 
 
 项目总数：<#= dte.Solution.Projects.Count#>