@{

    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");
}
@model  Plain.Model.Models.Model.Basic_Config
@using Core.Config.ConfigModel;
@using Framework.Utility;
@using Core.Encrypt
 <h5>开发中...</h5>