<#@ template hostspecific="true" language="C#" #>
<#@ assembly name="$(TargetDir)CodeDemo.dll" #>
<#@ import namespace="CodeDemo" #>
<#@ import namespace="CodeDemo.Core" #>
<#@ output extension=".empty" #>
<#
this.RunCodeGenerator(this.Host, new DemoGenerator());
#>