@using Framework.Extention
 <div class="clear footer">
    <div class="center">
        <div class="footeritem f_left  ">
            <span>关注我们</span>

            <img src='@Url.StaticFile("~/Content/img/weixin.png")' />
        </div>
        <div class="footeritem f_left  ">
            <span>关注我们</span>
            <img src='@Url.StaticFile("~/Content/img/weixin.png")' />
        </div>
        <div class="footeritem f_left  ">
            <span>关注我们</span>
            <img src= '@Url.StaticFile("~/Content/img/weixin.png")'  />
        </div>
        <div class="info  f_left  ">
            <div><em>联系方式：</em><span>12345678910</span></div>
            <div> <em>地址：</em><span>xxxxxxxxxx</span></div>
            <div><em>其它方式：</em><span>QQ、微信、微博</span></div>

        </div>

    </div>

</div>