@using Plain.Web
@using Framework.Web
@using Plain.Dto
<div class="header">
    <div id="" class="wrap">
        <div id="" class="nav f_left">
            <ul>
                CMS
            </ul>
        </div>
        <div id="" class="nav f_right">
            @if (AdminUserContext.Current.BasicUserInfo != null)
            {
                <div class="user">

                    <img src="~/Content/Plain/img/avatar.png" alt=""> 
                    @AdminUserContext.Current.LoginInfo.LoginNickName
                </div>
            }
            else
            {
                <ul>
                    <li><a href='http://localhost:8080/Auth/Login?returnUrl=http://localhost:8089/PlainCms/CmsHome.html'>登录</a></li>
                    <li><a href='http://localhost:8080/Auth/Login/Register'>注册</a></li>
                </ul>
            }


        </div>
    </div>

</div>
<div class="wrap navgb">

    <ul>
        @foreach (var m in AdminCacheContext.Current.MenuItems[((int)MenuType.Nav).ToString()])
        {
            <li>
                <a href='@(string.IsNullOrEmpty(m.MenuUrl)?"javascript:void(0);":Url.Content(m.MenuUrl))'>@m.MenuName</a>
            </li>
        }

    </ul>

</div>


<div class="wrap breadnav">
    <span><em>当前位置：</em> <a href="javascript:void(0)">首页</a>&nbsp; </span>
    <!--	 <div class="f_right">搜索：<input type="text"  class="search"/></div>-->
</div>