@{
    ViewBag.Title = "编辑";

    Layout = Url.Content("~/Views/Shared/_LayoutEdit.cshtml");
}
@using Framework.Web.Controls;
@model  Plain.Model.Models.Model.Basic_UserInfo 
@section MainContent{

    <div class="portlet paddingless">

        <div class="portlet-title line">

            <div class="caption"><i class="icon-bell"></i>Feeds</div>

            <div class="tools">

                <a href="javascript:void(0);" class="collapse"></a>
 

            </div>

        </div>

        <div class="portlet-body" style="display: block;">

            <div class="controls">
                @Html.CheckBoxList("RoleIds")


            </div>

        </div>

    </div>


}
