
@{
    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");
}




 @section PageSpecificCssIncludes{ 
<link href="~/Content/Metronic/media/css/error.css" rel="stylesheet" />
}

    <div class="row-fluid">

        <div class="span12 page-500">

            <div class="number">

                500

            </div>

            <div class="details">

                <h3>Opps, 系统错误.</h3>

                <p>

                    @*We are fixing it!<br />*@

                    一会再来吧..........<br /><br />

                </p>

            </div>

        </div>

    </div>
 
