@model System.Web.Mvc.HandleErrorInfo

 
@{
    ViewBag.Title = "注册新用户";
    Layout = Url.Content("~/Views/Shared/_LoginLayout.cshtml");
}

<div class="errorInfo">
    <i class="fa fa-frown-o" aria-hidden="true">
        
    </i>错误
</div>
@*<div class="successInfo">成功</div>*@
