@{
    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");
}



@section PageSpecificCssIncludes{
    <link href="~/Content/Metronic/media/css/error.css" rel="stylesheet" />
}
<div class="row-fluid">

    <div class="span12 page-@ViewData["code"]">

        <div class="number">

            @ViewData["code"]

        </div>

        <div class="details">

            <h3>Opps, 未找到.....</h3>

            <p>

             
                    @ViewData["error"]
 
             
                <br />
                一会再来吧..........<br /><br />

            </p>

        </div>

    </div>

</div>
