@{
    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");
}



@section PageSpecificCssIncludes{
    <link href="~/Content/Metronic/media/css/error.css" rel="stylesheet" />
}
<div class="row-fluid">

    <div class="span12 page-@ViewData["code"]">

        <div class="number">

            @ViewData["code"]

        </div>

        <div class="details">

            @if (ViewData["code"].ToString() == "500")
            {
                <h3>Opps, 系统错误.....</h3>
            }
            else
            {
                <h3>Opps, 好像什么东西找不到了.....</h3>
            }


            <p>


                @Html.Raw(ViewData["error"])


                <br />
                一会再来吧..... <br /><br />

            </p>

        </div>

    </div>

</div>
