.registerBox {
    width: 850px;
    height: 100%;
    text-indent: 10%;
}

.r_tab {
    display: block;
    border: 1px solid #e5e5e5;
    border-bottom: none;
    position: relative;
    width: 100px;
}

.contentWrap {
}

.r_tab li {
    background: #FFFFFF;
    height: 20px;
    line-height: 20px;
    padding: 10px;
    border-bottom: none;
}

.register {
    background: #FFFFFF;
    max-height: 500px;
    height: 100%;
    border: 1px solid #e5e5e5;
    border-top: none;
    padding: 46px 0 30px 48px;
    min-height: 246px;
}

.itemContent {
    margin-top: 25px;
}

.itemWrap input {
    height: 30px;
    width: 300px;
    border: 1px solid #eee;
    padding: 2px;
    border-radius: 2px;
}

.itemWrap .errorMsg {
    color: red;
}

.valide {
    width: 200px !important;
}

.valideCode {
    color: blue;
    height: 10px;
    margin-left: 5px;
    padding: 10px;
    background: #EEEEEE;
}

.userContact {
    margin-top: 25px;
    text-indent: 25%;
    padding: 5px;
}

    .userContact input {
        margin-right: 5px;
    }

.submit {
    height: 30px;
    width: 80px;
}

.skip {
    color: #379be9;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 15px;
}

    .skip:hover {
        text-decoration: underline;
    }

.bg {
    background: #F9F9F9;
    height: 100%;
}

.flex {
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    height: 2px;
    background: #f1f1f1;
    margin-top: 5px;
}

.webInfo {
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    text-indent: 30%;
}

.loginOther {
    margin-right: 20px;
    text-align: center;
    width: 50px;
    height: 50px;
}


.errorInfo {
    font-size: 18px;
    color: #b94a48;
}

.successInfo {
    font-size: 18px;
    color: #468847;
}

.attentionInfo {
    font-size: 18px;
    color: #666;
}
.shareinfo i{
    font-size:40px;
}
.fromContent{
    text-indent:15%;
}